* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

.container {
  max-width: 1024px;
  margin: 0 auto; }

.text {
  font-size: 18px;
  line-height: 28px;
  color: #414141; }

.section-header {
  margin: 30px 0px;
  display: flex; }
  .section-header .identification-data {
    display: flex;
    flex-direction: row; }
    .section-header .identification-data__img {
      border-radius: 50%; }
      .section-header .identification-data__img img {
        width: 200px; }
    .section-header .identification-data .contact {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 20px 30px; }
      .section-header .identification-data .contact__name {
        font-size: 50px;
        font-weight: bold; }
      .section-header .identification-data .contact__info {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding-top: 30px; }
        .section-header .identification-data .contact__info__text {
          padding: 0px 20px;
          display: flex;
          align-items: center; }
          .section-header .identification-data .contact__info__text a {
            color: #000;
            transition: 0.2s; }
            .section-header .identification-data .contact__info__text a:hover {
              color: #fe4fa7; }
        .section-header .identification-data .contact__info__icon {
          font-size: 30px;
          color: orange; }

.section-summary__title {
  font-size: 30px;
  color: #000; }

.section-skills {
  padding-top: 20px; }
  .section-skills__title {
    font-size: 30px;
    color: #000; }

.section-code-exaples {
  padding-top: 20px; }
  .section-code-exaples__text {
    font-size: 22px; }
  .section-code-exaples .link {
    color: #000;
    transition: 0.2s; }
    .section-code-exaples .link:hover {
      color: #fe4fa7; }

.section-experience {
  padding-top: 20px; }
  .section-experience__title {
    font-size: 30px;
    color: #000; }
  .section-experience .experience-list {
    font-size: 20px; }
    .section-experience .experience-list__item {
      list-style-image: url(../star.svg);
      list-style-position: inside;
      padding: 0;
      margin: 0; }
    .section-experience .experience-list__link {
      color: #414141;
      transition: 0.2s; }
      .section-experience .experience-list__link:hover {
        color: #fe4fa7; }

.section-education {
  padding-top: 15px; }
  .section-education__title {
    font-size: 30px;
    color: #000; }
  .section-education__text {
    padding-bottom: 15px; }

.section-footer {
  margin-bottom: 30px; }
  .section-footer__title {
    font-size: 30px;
    color: #000; }
  .section-footer .contact-info {
    display: flex;
    align-items: center; }
    .section-footer .contact-info__item {
      padding: 0 20px;
      font-size: 20px; }
    .section-footer .contact-info__link {
      font-size: 30px;
      color: #414141;
      transition: 0.2s; }
      .section-footer .contact-info__link:hover {
        color: #fe4fa7; }
    .section-footer .contact-info .mail {
      font-size: 20px; }
    .section-footer .contact-info .wrapper {
      display: flex;
      flex-direction: row; }
    .section-footer .contact-info .telegram {
      font-size: 30px; }
